# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.3DRubiksSolver.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programming\Unity\Projects\3DRubiksSolver\.idea\.idea.3DRubiksSolver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
